This XML file does not appear to have any style information associated with it. The document tree is shown below.
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="io.cordova.hellocordova" version="1.0.0">
<name>FASHIQUE</name>
<description>Sample Apache Cordova App</description>
<author email="dev@cordova.apache.org" href="https://cordova.apache.org"> Apache Cordova Team </author>
<content src="index.html"/>
<content src="splash.html"/>
<allow-intent href="http://*/*"/>
<allow-intent href="https://*/*"/>
<!--  Icons  -->
<platform name="android">
<icon src="res/icon/android/logo.webp"/>
</platform>
<platform name="ios">
<icon src="res/icon/android/logo.webp"/>
</platform>
</widget>